.TaskItem {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 8px auto;
    padding: 4px;
    width: 60vw;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    /* background-color: rgb(207, 207, 207); */
}

.TaskItem-p{
    width: 80%;
    margin-left: 10px;
}

.TaskItem-p--checked {
    text-decoration: line-through;
}